## Анализ тональности обзоров ресторанов

### Подключение библиотек

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler

### Загрузка и просмотр данных

In [4]:
df = pd.read_csv("Restaurant reviews.csv")
print(df.shape)
print(df.head(20))

(10000, 8)
         Restaurant              Reviewer  \
0   Beyond Flavours     Rusha Chakraborty
1   Beyond Flavours  Anusha Tirumalaneedi
2   Beyond Flavours       Ashok Shekhawat
3   Beyond Flavours        Swapnil Sarkar
4   Beyond Flavours                Dileep
5   Beyond Flavours         Nagabhavani K
6   Beyond Flavours       Jamuna Bhuwalka
7   Beyond Flavours             Sandhya S
8   Beyond Flavours          Akash Thorat
9   Beyond Flavours        Smarak Patnaik
10  Beyond Flavours      Saubhagya Bhuyan
11  Beyond Flavours            Srivaths07
12  Beyond Flavours           Kunj Mishra
13  Beyond Flavours     Pradeep Vetapalem
14  Beyond Flavours         Kankaria.ritu
15  Beyond Flavours          Abhay Sharma
16  Beyond Flavours       Shubham Jaiswal
17  Beyond Flavours     Srijani Mukherjee
18  Beyond Flavours           Hari Jangam
19  Beyond Flavours           Suneet Soni

                                               Review Rating  \
0   The ambience was good, food was quite good . h...      5
1   Ambience is too good for a pleasant evening. S...      5
2   A must try.. great food great ambience. Thnx f...      5
3   Soumen das and Arun was a great guy. Only beca...      5
4   Food is good.we ordered Kodi drumsticks and ba...      5
5   Ambiance is good, service is good, food is aPr...      5
6   Its a very nice place, ambience is different, ...      5
7   Well after reading so many reviews finally vis...      4
8   Excellent food , specially if you like spicy f...      5
9   Came for the birthday treat of a close friend....      5
10  The service was great and the food was awesome...      5
11  Very good ambience, amazing food ,good service...      5
12  Food was very good. Soup was as expected. In s...      5
13  Food is too good. Telangana kodiak fry is must...      5
14  We ordered corn cheese balls, manchow soup and...      1
15  Food and ambience is fantastic.. Waiter Manav ...      5
16  Came here for lunch and the food was good and ...      4
17  The best thing about this place is the food. M...      5
18  Polite and friendly staff. Nice ambience and g...      5
19  Food is really good. We had vegetarian items i...      5

                     Metadata             Time  Pictures    7514
0      1 Review , 2 Followers  5/25/2019 15:54         0  2447.0
1     3 Reviews , 2 Followers  5/25/2019 14:20         0     NaN
2     2 Reviews , 3 Followers  5/24/2019 22:54         0     NaN
3       1 Review , 1 Follower  5/24/2019 22:11         0     NaN
4     3 Reviews , 2 Followers  5/24/2019 21:37         0     NaN
5                    1 Review  5/24/2019 15:22         0     NaN
6                    1 Review   5/24/2019 1:02         0     NaN
7                    1 Review  5/23/2019 15:01         0     NaN
8       1 Review , 1 Follower  5/22/2019 23:12         0     NaN
9       1 Review , 1 Follower  5/22/2019 22:37         0     NaN
10      1 Review , 1 Follower  5/22/2019 22:22         0     NaN
11     3 Reviews , 1 Follower  5/22/2019 21:43         0     NaN
12      1 Review , 1 Follower  5/22/2019 21:29         0     NaN
13   2 Reviews , 25 Followers  5/22/2019 21:21         0     NaN
14                   1 Review  5/22/2019 21:19         0     NaN
15    4 Reviews , 7 Followers  5/22/2019 20:38         0     NaN
16  30 Reviews , 34 Followers  5/22/2019 19:54         8     NaN
17  6 Reviews , 267 Followers  5/22/2019 19:47         1     NaN
18      1 Review , 1 Follower  5/22/2019 15:13         0     NaN
19    1 Review , 33 Followers  5/21/2019 22:08         0     NaN

### Очистка данных

In [5]:
df = df.drop(["Restaurant", "Reviewer", "Metadata", "Pictures", "7514"], axis=1)

In [6]:
df.head()

                                              Review Rating             Time
0  The ambience was good, food was quite good . h...      5  5/25/2019 15:54
1  Ambience is too good for a pleasant evening. S...      5  5/25/2019 14:20
2  A must try.. great food great ambience. Thnx f...      5  5/24/2019 22:54
3  Soumen das and Arun was a great guy. Only beca...      5  5/24/2019 22:11
4  Food is good.we ordered Kodi drumsticks and ba...      5  5/24/2019 21:37

### Преобразование времени

In [7]:
df["Time"] = list(map(lambda data: str(data).split()[0], df["Time"]))
df["Time"] = list(map(lambda data: str(data).split("/")[-1], df["Time"]))
df.head()

                                              Review Rating  Time
0  The ambience was good, food was quite good . h...      5  2019
1  Ambience is too good for a pleasant evening. S...      5  2019
2  A must try.. great food great ambience. Thnx f...      5  2019
3  Soumen das and Arun was a great guy. Only beca...      5  2019
4  Food is good.we ordered Kodi drumsticks and ba...      5  2019